ErrorDocument 404 /404.html

# Old mediawiki pages redirects.
RewriteBase /en

RewriteRule "^Main_Page" index.html [R=301]

RewriteRule "^KritaFAQ" KritaFAQ.html [R=301]

RewriteRule "^Contributors_Readme" contributors_manual/krita_manual_readme.html [R=301]

RewriteRule "^Resources" resources_page.html [R=301]
