ErrorDocument 404 /404.html

# Old mediawiki pages redirects.

Redirect 301 /Main_Page /en/index.html

Redirect 301 /KritaFAQ /en/KritaFAQ.html

Redirect 301 /Contributors_Readme /en/contributors_manual/krita_manual_readme.html

Redirect 301 /Resources /en/resources_page.html
